@import "_variables.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import 'navbar-fixed-side';

/** General **/
 
 h1, .h1 {
   background-color: transparent;
   background: url("../images/orange-divider.png") repeat-x, left bottom;
   background-repeat: repeat-x;
   background-attachment: scroll;
   background-position: left bottom;
   background-clip: border-box;
   background-origin: padding-box;
   background-size: auto auto;
   display: inline-block;
 }

 hr {
  border-top: 1px solid $gray;
 }

   /** added this for an inline display. .show is block level **/
   .not-hidden { 
      display: inline !important;
   }

   .required {
      color: $brand-danger;
      font-weight: normal;
      font-size: 10px;
      vertical-align: super;
   }

   #tags-editor {
    margin-bottom: 50px;
   }

   .template-course-button {
      margin-top: 25px;
   }

  .removeClick {
      display: inline-block;
      float: right;
      margin-top: -30px;
      cursor: pointer;
   }

   .removeClick:hover{
      color: $brand-danger;
   }

     .removeFile {
      cursor: pointer;
   }

   .removeFile:hover{
      color: $brand-danger;
   }

   .removeLink {
      cursor: pointer;
   }

   .removeLink:hover {
      color: $brand-danger;
   }

   /* General formatting */

   .padding-left-20 {
      padding-left: 20px;
   }

   .vertical-spacer-40 {
      margin-bottom: 40px;
   }

  .vertical-tb-spacer-40 {
      margin-top: 40px;
      margin-bottom: 40px;
   }

  .vertical-tb-spacer-20 {
      margin-top: 20px;
      margin-bottom: 20px;
  }

   .vertical-spacer-20 {
      margin-bottom: 20px;
   }


   .vertical-spacer-10 {
      margin-bottom: 10px;
   }

   .inline-block{
    display: inline-block;
   }

   /* dropzone (img upload) */

   .file-drop-zone {
    border: 2px dashed grey;
    color: grey;
    border-radius: 2;
    display: table;
    margin-bottom: 20px;

    .pick-area {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 20px;
      cursor: pointer;
    }
  }

  .loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255, 255, 255); 
  background: rgba(255, 255, 255, .5);
  z-index: 9999;
}

.scrollable {
  /*position:fixed;*/
  height: 400px;
  overflow-y: scroll;
  border: 1px solid $gray-light;
}

/* Example Styles for React Tags Module*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input, 
div.ReactTags__tagInput input:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}

/** Artifact Builder Tablet Desktop Navigation **/

.navbar-inverse {
  background-color: #01B5B6;
  border: none;
}

.navbar-fixed-side.navbar-inverse .navbar-collapse, .navbar-fixed-side.navbar-inverse .navbar-nav > li > a, .navbar-fixed-side.navbar-inverse .navbar-form, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
  border: none;
}

.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-right, 
.navbar-inverse .navbar-brand a, 
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > ul > li > a,
.navbar-fixed-side.navbar-inverse .dropdown > .dropdown-toggle,
.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li > a,
.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > .active > a,
.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:hover  { 
  color: $white !important;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > ul > li > a:hover,
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > ul > .active > a,
.navbar-inverse .navbar-nav > ul > li .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > .active > a,
.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:hover  {
  text-decoration: underline;
  /*background-color: $white !important;*/
  background-color: $aqua !important;
  color: $white !important;
}

.navbar-inverse .navbar-nav > ul > li {
  list-style-type: none;
}

.artifact-content {
  overflow: hidden;
}

/* Links for Artifact Builder in Mobile View */

.phoneLinks {
  background-color: $aqua;
  font-size: $font-size-large;
  padding: 20px;
}

.phoneLinks a {
  color: $white;
  font-size: $font-size-large;
  padding: 20px;
}

.phoneLinks a:hover {
  text-decoration: underline;
}


.crouton {
  color: #FFF;
  line-height: 140%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 700px;
  width: 90%;
  padding:20px;
  text-align: center;
  z-index: 99999;
  margin: 0 auto;
  background-color: #01B5B6; 
}

/* These are example-specific */

.react-toggle {
  margin-right: 8px;
  vertical-align: middle;
}

label,
.label-text {
  vertical-align: middle;
  font-weight: normal;
  margin-bottom: 0; /* override bootstrap */
}

.example {
  margin-top: 36px;
  margin-bottom: 36px;
}

pre {
  margin-top: 8px;
}

.react-toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: $gray;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover .react-toggle-track {
  background-color: $gray;
}

.react-toggle--checked .react-toggle-track {
  background-color: $aqua;
}

.react-toggle.react-toggle--checked:hover .react-toggle-track {
  background-color: $aqua;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid $gray;
  border-radius: 50%;
  background-color: $white;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: $aqua;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px $lt-aqua;
  -moz-box-shadow: 0px 0px 3px 2px $lt-aqua;
  box-shadow: 0px 0px 2px 3px $lt-aqua;
}

.react-toggle:active .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px $lt-aqua;
  -moz-box-shadow: 0px 0px 5px 5px $lt-aqua;
  box-shadow: 0px 0px 5px 5px $lt-aqua;
}

/** dashboard tabs **/

@media (max-width: 420px) { 
    .nav-tabs > li {
        float:none;
        border:1px solid #dddddd;
    }
    .nav-tabs > li.active > a{
        border:none;
    }
    .nav > li > a:hover, .nav > li > a:focus,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
     {
        background:none;
        border:none;
    }
}
