// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
 
 .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
     margin-right: -20px;
     margin-left: 0;
     color: red;
 }

