@import "_variables.scss";
@import "../bower/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/** General **/
 
 h1, .h1 {
   background-color: transparent;
   background: url("../images/orange-divider.png") repeat-x, left bottom;
   background-repeat: repeat-x;
   background-attachment: scroll;
   background-position: left bottom;
   background-clip: border-box;
   background-origin: padding-box;
   background-size: auto auto;
   display: inline-block;
 }

   /** added this for an inline display. .show is block level **/
   .not-hidden { 
      display: inline !important;
   }

   .required {
      color: $brand-danger;
      font-weight: normal;
      font-size: 10px;
      vertical-align: super;
   }

   #tags-editor {
    margin-bottom: 50px;
   }

   .template-course-button {
      margin-top: 25px;
   }

  .removeClick {
      display: inline-block;
      float: right;
      margin-top: -30px;
      cursor: pointer;
   }

   .removeClick:hover{
      color: $brand-danger;
   }

     .removeFile {
      cursor: pointer;
   }

   .removeFile:hover{
      color: $brand-danger;
   }

   /* General formatting */

   .padding-left-20 {
      padding-left: 20px;
   }

   .vertical-spacer-40 {
      margin-bottom: 40px;
   }

   .vertical-spacer-10 {
      margin-bottom: 10px;
   }

   .inline-block{
    display: inline-block;
   }

   /* dropzone (img upload) */

   .file-drop-zone {
    border: 2px dashed grey;
    color: grey;
    border-radius: 2;
    display: table;
    margin-bottom: 20px;

    .pick-area {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 20px;
      cursor: pointer;
    }
  }

 /* .imageDisplayer {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: row;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap; 
    display: -webkit-box;
    display: flex;
  }

  .dropzone {
   -webkit-box-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto; 
    height: 100px; 
    overflow:hidden;
    margin-right: 10px;
  }


  .dropzone img{
    max-width: 100%; 
    max-height: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
  }

  .dropzone .file-img {
    display:block;
    text-align: center;
    vertical-align: bottom;
    color: grey;
  }*/

  .loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255, 255, 255); 
  background: rgba(255, 255, 255, .5);
  z-index: 9999;
}

/* Example Styles for React Tags Module*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input, 
div.ReactTags__tagInput input:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}

/** Artifact Navigation **/

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 199px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.navbar-inverse {
  background-color: #01B5B6;
  border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand a { 
  color: $white !important;
}

.crouton {
  color: #FFF;
  line-height: 140%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 700px;
  width: 90%;
  padding:20px;
  text-align: center;
  z-index: 99999;
  margin: 0 auto;
  background-color: #01B5B6; 
}